<div class="row mb-5 m-4">
  <input
    type="text"
    aria-label="First name"
    class="form-control col mx-2"
    placeholder="Name..."
  />
  <input
    type="text"
    aria-label="Last name"
    class="form-control col mx-2"
    placeholder="Surname..."
  />
  <input
    type="text"
    aria-label="City"
    class="form-control col mx-2"
    placeholder="City..."
  />

  <input
    type="text"
    aria-label="number"
    class="form-control col mx-2"
    placeholder="Phone..."
  />
  <button type="button" class="btn btn-dark col">Add contact</button>
</div>
